<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <property name="log.path" value="/Users/ShiXiaohou/log/tomcat" />
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender" debug="false">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %thread %p %c - &lt;%m&gt;%n</pattern>
        </encoder>
    </appender>

    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %thread %p %c - &lt;%m&gt;%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--路径-->
            <FileNamePattern>${log.path}/%d{yyyy-MM-dd_HH-mm}.log</FileNamePattern>
        </rollingPolicy>
    </appender>

    <root level="debug">
        <appender-ref ref="console"/>
        <!--<appender-ref ref="file"/>-->
    </root>
    <!--<springProfile name="test,dev">-->
        <!--<logger name="com.hou" level="DEBUG" additivity="false">-->
            <!--<appender-ref ref="console"/>-->
        <!--</logger>-->
    <!--</springProfile>-->

    <!--<springProfile name="prod">-->
        <!--<logger name="com.hou" level="INFO" additivity="false">-->
            <!--<appender-ref ref="console"/>-->
        <!--</logger>-->
    <!--</springProfile>-->
</configuration>